In [16]:
import csv
from collections import defaultdict
from dotenv import load_dotenv
import os
import requests

In [15]:
load_dotenv()
API_KEY = os.getenv('API_KEY')

In [45]:
def get_movie_id(movie_name, movie_year):
    """Gets the movie_id from TMDB using the movie_name and year

    Args:
        movie_name (str): Movie's name
        movie_year (str): Movie's release year

    Returns:
        int: Movie TMDB id
    """

    r = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={API_KEY}&language=en-US&page=1&include_adult=false', params={'query':movie_name, 'year':movie_year})
    movie_id = r.json()['results'][0]['id']
    return movie_id

def get_movie_actors(movie_name, movie_year, limit=20):
    """Returns the top 'limit' movie actors

    Args:
        movie_name (str): Movie's name
        movie_year (str): Movie's release year
        limit (int, optional): Actors limit. Defaults to 20.

    Returns:
        str[]: A list of movie actors
    """

    actors = []

    movie_id = get_movie_id(movie_name, movie_year)
    r = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}/credits?api_key={API_KEY}&language=en-US&')

    actors_json = r.json()['cast'][:limit]
    for actor in actors_json:
        actors.append(actor['name'])

    return actors

In [46]:
actors= get_movie_actors("mother !", "2017")
actors

['Jennifer Lawrence',
 'Javier Bardem',
 'Ed Harris',
 'Michelle Pfeiffer',
 'Brian Gleeson',
 'Domhnall Gleeson',
 'Jovan Adepo',
 'Amanda Chiu',
 'Patricia Summersett',
 'Eric Davis',
 'Raphael Grosz-Harvey',
 'Emily Hampshire',
 'Abraham Aronofsky',
 'Luis Oliva',
 'Stephanie Ng Wan',
 'Chris Gartin',
 'Stephen McHattie',
 'Ambrosio De Luca',
 'Gregg Bello',
 'Arthur Holden']

In [54]:
actors_map = defaultdict(int)
actors_movies_map = defaultdict(list)

with open('top_movies_list.csv', newline='') as file:
    reader = csv.reader(file)
    for idx, movie in enumerate(reader):
        print(" ".join(movie), "Done.")

        # Get the movies actors
        movie_actors = get_movie_actors(movie_name=movie[1], movie_year=movie[2])

        # Loop through the actors and add the movies sale to them
        for actor in movie_actors:
            actors_map[actor] += int(movie[3][1:]) # 1: to remove the $ sign
            actors_movies_map[actor].append(movie[1])
        
        if idx > 10:
            break

1 Avatar 2009 $2881837181 Done.
2 Avengers: Endgame 2019 $2797501328 Done.
3 Titanic 1997 $2201647264 Done.
4 Star Wars: Episode VII - The Force Awakens 2015 $2069521700 Done.
5 Avengers: Infinity War 2018 $2048359754 Done.
6 Spider-Man: No Way Home 2021 $1915999807 Done.
7 Jurassic World 2015 $1671537444 Done.
8 The Lion King 2019 $1663250487 Done.
9 The Avengers 2012 $1518815515 Done.
10 Furious 7 2015 $1515341399 Done.
11 Top Gun: Maverick 2022 $1472292161 Done.
12 Frozen II 2019 $1450026933 Done.

In [87]:
def print_actors_map(actors_map, actors_movies_map, limit=20):
    sorted_actors_map = dict(sorted(actors_map.items(), key=lambda x: x[1], reverse=True))
    idx = 0
    for actor_name, profit in sorted_actors_map.items():
        movies_list = actors_movies_map[actor_name]
        print(idx, actor_name, profit, movies_list)
        idx += 1
        if idx > limit:
            break

In [124]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np

def pretty_print(df):
    return display(HTML(df.to_html().replace("\\n","<br>")))

def print_actors_map_pd(actors_map, actors_movies_map, limit=20):

    sorted_actors_map = dict(sorted(actors_map.items(), key=lambda x: x[1], reverse=True))

    data = []
    idx = 0
    for actor_name, profit in sorted_actors_map.items():
        movies_list = actors_movies_map[actor_name]
        data.append([actor_name, f"${profit:,}", "\n".join(movies_list)])
        idx += 1
        if idx > limit:
            break

    df = pd.DataFrame(data, columns=["Actor Name", "Profit", "Movies"])
    pretty_print(df)

In [125]:
print_actors_map_pd(actors_map, actors_movies_map)